<div fxLayout="column">
  <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" style="padding: 10px 1em;" fxLayoutAlign="start center">
      <button mat-stroked-button class="secondary-button">Add Product Category</button>
      <button mat-stroked-button class="secondary-button" (click)="addNewProduct()">Add Product</button>
  </div>
  <!-- <marquee class="notice-marquee">Chance the ROUTES using the sidenave button to check the result of API result (AFTER ADDING EXPENSE). API called, are not behavioural Subject Instance</marquee> -->

  <!-- EXPENSE DETAILS -->
  <div>
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef> Item name </th>
        <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> <span class="primary-button-layout"
            [ngClass]="{'home-appliances-button': element.category=='Home Appliances', 'mobile-category-button': element.category=='Mobile', 'warning-button': element.category=='Refrigerator'}">{{element.category}}</span>
        </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="storeQuantity">
        <th mat-header-cell *matHeaderCellDef> Store Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.storeQuantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="expense-table-row"
        [ngClass]="{ 'strikethrough': ((deleteExpense == 'delete') && (selectedIndex ===j)) }"
        *matRowDef="let row;let j =index; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>